<html lang="en"
      ng-app="myApp"
      ng-controller="myCtrl">
<head>

  <!-- Meta tags -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Embed/search meta -->
  <meta name="description" content="An action plan worksheet for becoming a better #BLM ally." />
  <meta name="keywords" content="blm" />
  <meta property="og:title" content="#BLM Ally Worksheet" />
  <meta property="og:description" content="An action plan worksheet for becoming a better #BLM ally." />
  <meta property="og:url" content="https://livewithintention.github.io/blm-ally/" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="#BLM Ally Worksheet" />
  <meta name="twitter:url" content="https://livewithintention.github.io/blm-ally/" />
  <meta name="twitter:description" content="An action plan worksheet for becoming a better #BLM ally." />

  <!-- Vendor styles -->
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Page styles -->
  <link href="assets/index.css" type="text/css" rel="stylesheet"/>

  <!-- Vendor scripts -->
  <script src="assets/lib/underscore-min.js"></script>
  <script src="assets/lib/angular-1.7.min.js"></script>
  <script src="assets/lib/angular-sanitize-1.7.9.js"></script>

  <!-- Page scripts -->
  <script src="assets/index.js" type="text/javascript"></script>

</head>
<body>

<form ng-class="{'minimal': isDisplayMinimal}">

<div class="prompt header">
  <label>A worksheet for #BLM allies</label>
  <div class="subtitle no-print">
    <p>My hope is that these questions will help you create a personal, sustainable, motivational action plan to become a more effective ally.</p>
  </div>
</div>

<div class="prompt"
     ng-repeat="prompt in prompts"
     ng-class="{'header': prompt.isHeader, 'no-input': prompt.noInput}">
  <label ng-if="prompt.title !== undefined">{[prompt.title]}</label>
  <div class="subtitle no-print"
     ng-if="prompt.subtitle !== undefined">{[prompt.subtitle]}</div>

  <!-- Pre-slice `examples` to avoid angular digest err on ng-repeat later -->
  <div class="examples no-print"
       ng-if="prompt.examples !== undefined"
       ng-init="prompt.slicedExamples = [
                   prompt.examples.slice(0,5), prompt.examples.slice(5)]">
    <div class="examples-label"
         ng-if="prompt.exampleLabel !== undefined">
      {[prompt.exampleLabel]}
      <a ng-if="prompt.examples.length > 5"
         ng-click="prompt.hideExtras = !prompt.hideExtras">
        (Show {[ prompt.hideExtras ? "more" : "less" ]})
      </a>
    </div>
    <!-- By default, show only the first 5 examples.
         Using two separate `ul`s just to make the animation look nicer.
    -->
    <div class="examples-block">
      <ul ng-repeat="exampleSet in prompt.slicedExamples track by $index"
          ng-init="prompt.hideExtras = true"
          ng-class="{'collapsible': $index> 0,
                     'collapsible-open': $index> 0 && !prompt.hideExtras}">
        <!-- Show first 5 examples -->
        <li ng-repeat="example in exampleSet">
          <span ng-if="example.href===undefined">
            {[ prompt.areExamplesQuoted ? '"' : '' ]}{[ example ]}{[ prompt.areExamplesQuoted ? '"' : '' ]}
          </span>
          <span ng-if="example.href!==undefined">
            {[ prompt.areExamplesQuoted ? '"' : '' ]}<a href="{[example.href]}" target="_blank">{[ example.linkText ]}</a>{[ prompt.areExamplesQuoted ? '"' : '' ]}
            <span ng-if="example.description" class="example-description">
              - {[example.description]}
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <textarea ng-if="!prompt.isHeader && (prompt.noInput !== true)"
            data-lpignore="true"
            ng-keyup="prompt.hasContent = handleTextAreaChange($event)"
            ng-class="{'is-empty': prompt.hasContent !== true}"></textarea>
</div>

<div class="prompt header">
  <label>Acknowledgements</label>
  <div class="subtitle no-print">
    <p><input type="checkbox"/>I understand that #BLM is not about me becoming a better person. #BLM is about Black lives and reparation.</p>
    <p><input type="checkbox"/>However, becoming a better person will help me show up in a more effective way that does not take space away from others.</p>
    <p><input type="checkbox"/>I will remember to center Black voices and perspectives, rather than my own.</p>
  </div>
</div>

<div class="controls no-print">

  <button ng-click="toggleDisplay()">
    <i class="fa"
       aria-hidden="true"
       ng-class="{'fa-toggle-on': isDisplayMinimal, 'fa-toggle-off': !isDisplayMinimal}"
       ></i>
    {[ isDisplayMinimal ? "Hide" : "Show" ]} print version
  </button>
  
  <button onclick="window.print();">
    <i class="fa fa-print"></i>
    Print
  </button>

</div>

</form>

</body>
