<html lang="en"
      ng-app="myApp"
      ng-controller="myCtrl">
<head>

  <!-- Vendor styles -->
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Page styles -->
  <link href="assets/index.css" type="text/css" rel="stylesheet"/>

	<!-- Vendor scripts -->
  <script src="assets/lib/underscore-min.js"></script>
  <script src="assets/lib/angular-1.7.min.js"></script>
  <script src="assets/lib/angular-sanitize-1.7.9.js"></script>

	<!-- Page scripts -->
	<script src="assets/index.js" type="text/javascript"></script>

</head>
<body>

<form ng-class="{'minimal': isDisplayMinimal}">

<div class="prompt">
  <h2 class="title">Intention setting for #BLM allies</h2>
	<div class="subtitle">
    <p>My hope is that these questions will help you create a personal manifesto for how you want to show up as an ally, something you can feel anchored to and personally driven by to reduce feelings of burnout so you can keep doing sustainable work.</p>
  </div>
</div>

<div class="prompt"
     ng-repeat="prompt in prompts"
     ng-class="{'header': prompt.isHeader, 'no-input': prompt.noInput}">
	<label ng-if="prompt.title !== undefined">{[prompt.title]}</label>
  <div class="subtitle"
     ng-if="prompt.subtitle !== undefined">{[prompt.subtitle]}</div>
	<textarea ng-if="!prompt.isHeader && (prompt.noInput !== true)"></textarea>

	<div class="examples"
			 ng-if="prompt.examples !== undefined">
		<div class="examples-label"
				 ng-if="prompt.exampleLabel !== undefined">
			{[prompt.exampleLabel]}
		</div>
		<ul>
			<li ng-repeat="example in prompt.examples">

        <span ng-if="example.href===undefined">
          <span ng-if="prompt.areExamplesQuoted">"</span>{[example]}<span ng-if="prompt.areExamplesQuoted">"</span>
        </span>

        <span ng-if="example.href!==undefined">
          <a href="{[example.href]}" target="_blank">{[example.linkText]}</a>
          <span ng-if="example.description" class="example-description">
            {[example.description]}
          </span>
        </span>

			</li>
		</ul>
	</div>

</div>


</form>

<h2>Todos</h2>

<button ng-click="toggleDisplay()">
<i class="fa"
	 aria-hidden="true"
   ng-class="{'fa-toggle-on': isDisplayMinimal, 'fa-toggle-off': !isDisplayMinimal}"
	 ></i>
Print mode
</button>

<div class="subtitle">
	<ul>
		<li>Make a toggle to hide the examples</li>
		<li>Make a "save to PDF / export image" button at the bottom</li>
		<li>Make a cleaner non-mobile layout</li>
	</ul>
</div>


</body>
