/* VARS */
/* FONT STYLES */
body {
  color: #777;
}

body, form, textarea, button {
  font-size: 18pt;
  font-family: "Lora", serif;
}

h1, h2, h3, h4, h5, h6, .header, button {
  color: #222;
}

textarea {
  color: #222;
}

.examples, .subtitle {
  font-size: 11pt;
  color: #777;
  font-style: oblique;
}

a {
  text-decoration: underline;
  color: #7a00ff;
}
a:visited {
  color: #6526a9;
}

/* COMPONENTS */
a, button {
  cursor: pointer;
}

button {
  background-color: #eee;
  border: 0;
  border-radius: 5px;
  padding: 16px 20px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.fa-toggle-on {
  color: #0081f1;
}

.collapsible {
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.2s ease-in;
  -ms-transition: max-height 0.2s ease-in;
  -webkit-transition: max-height 0.2s ease-in;
  -o-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}
.collapsible.collapsible-open {
  max-height: 200px;
}

/* PAGE LAYOUT */
body {
  margin: 0;
  text-align: center;
  padding: 50px;
}

.title {
  margin-bottom: 0;
}

form {
  margin: 0 auto;
  position: relative;
  max-width: 600px;
  text-align: left;
}
form .prompt {
  position: relative;
  margin-bottom: 2.5em;
}
form .prompt.header {
  margin-bottom: 1.5em;
}
form .prompt.header label {
  font-size: 1.25em;
  font-weight: bold;
  font-style: normal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
form .prompt label {
  display: block;
  font-style: oblique;
  margin-bottom: 0.75em;
}
form .prompt .subtitle {
  margin-top: 0.75em;
}
form .prompt textarea {
  margin: 20px 0;
  width: 100%;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  resize: vertical;
  overflow-y: hidden;
  outline: none;
  border-radius: 4px;
  border: 1px dashed #ccc;
  padding: 1em;
}
form .prompt .examples {
  margin-top: 1em;
}
form .prompt .examples .examples-label {
  font-weight: bold;
}
form .prompt .examples .examples-block {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}
form .prompt .examples .examples-block ul {
  margin: 0;
  padding-inline-start: 20px;
}

form.minimal .prompt {
  margin-bottom: 1.5em;
}
form.minimal .prompt.header {
  margin-bottom: 1em;
}
form.minimal .prompt label {
  margin-bottom: 0;
}
form.minimal .examples, form.minimal .no-input {
  display: none;
}
form.minimal textarea {
  margin: 0;
}
form.minimal textarea:not(.is-empty) {
  border: 0;
}

/* RESPONSIVE */
/* On wider screens */
/* Print layout */
@media print {
  body, form, textarea, h1, h2, h3, label {
    font-size: 10pt;
  }

  .header label {
    font-size: 1.5em;
  }

  form .prompt {
    margin-bottom: 1.5em;
  }
  form .prompt.header {
    margin-bottom: 1em;
  }
  form .prompt label {
    margin-bottom: 0;
  }
  form .examples, form .no-input {
    display: none;
  }
  form textarea {
    margin: 0;
  }
  form textarea:not(.is-empty) {
    border: 0;
  }
  form .prompt {
    margin-top: 1em;
    margin-bottom: 0;
    page-break-inside: avoid;
  }
  form .prompt textarea {
    resize: none;
    height: auto;
    margin: 0.25em 0 0 0;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}

/*# sourceMappingURL=index.css.map */
